flows.json
[{"id":"478df0e4.db9a2","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"de1c7e83.c4666","type":"http in","z":"478df0e4.db9a2","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["9ff07e0d.2388a","32189205.a64aee"]]},{"id":"9ff07e0d.2388a","type":"http response","z":"478df0e4.db9a2","name":"","statusCode":"200","headers":{},"x":260,"y":240,"wires":[]},{"id":"af84c5dd.224638","type":"debug","z":"478df0e4.db9a2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.value","targetType":"msg","x":460,"y":340,"wires":[]},{"id":"32189205.a64aee","type":"json","z":"478df0e4.db9a2","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":340,"wires":[["af84c5dd.224638"]]}]